root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8

# Code files
[*.{cs,json,cshtml,ts}]
indent_style = space
indent_size = 4

# Project files
[*.{csproj,slnx,props,targets,config,nuspec}]
indent_style = space
indent_size = 2

# Roslyn Analyzers
[*.cs]

vsspell_section_id = main
vsspell_ignored_words_main = File:dictionary.dic

csharp_space_after_cast = false
csharp_style_expression_bodied_constructors = true
csharp_style_expression_bodied_methods = true
csharp_style_expression_bodied_operators = true
csharp_style_expression_bodied_properties = true
csharp_style_expression_bodied_indexers = true
csharp_style_expression_bodied_accessors = true
