root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8

# Code files
[*.{cs,json,cshtml,ts}]
indent_style = space
indent_size = 4

# Project files
[*.{csproj,props,targets,config,nuspec}]
indent_style = space
indent_size = 2

[*.{g4,md}]
trim_trailing_whitespace = true

# Roslyn Analyzers
[*.cs]

vsspell_section_id = main
vsspell_ignored_words_main = File:dictionary.dic

dotnet_diagnostic.IDE1006.severity = none # IDE1006: Naming Styles
