root = true

[*]
end_of_line = crlf
insert_final_newline = true

[*.bat]
end_of_line = lf

# Code files
[*.{cs,json,cshtml,ts}]
indent_style = space
indent_size = 4

# Project files
[*.{csproj,props}]
indent_style = space
indent_size = 2

# Roslyn Analyzers
[*.cs]

vsspell_section_id = main
vsspell_ignored_words_main = File:dictionary.dic

dotnet_diagnostic.IDE1006.severity = none # IDE1006: Naming Styles
